/* For tablet device */
@media screen and (max-width: 992px) {

      /* header related styles */
      header {
            padding: 16px;
      }

      nav ul {
            display: none;
      }

      .hide {
            display: block;
      }

      /* banner related styles */
      .banner-btn {
            margin-top: 16px;
      }

      .banner-form {
            margin: 0 25px;
      }
}


/* For mobile device */
@media screen and (max-width: 576px) {

      /* header related styles */
      header {
            padding: 16px;
      }

      nav ul {
            display: none;
      }

      .hide {
            display: block;
      }

      /* banner related styles */
      .banner-container {
            height: auto;
            padding: 30px 0;
      }

      .banner-title {
            font-size: 2rem;
      }

      .banner-form {
            margin: 0 25px;
      }

      .form-banner {
            display: flex;
            flex-direction: column;
            gap: 16px;
      }

      .banner-btn {
            width: 100%;
      }
}