/* For tablet device */
@media screen and (max-width: 992px) {

      main {
            padding: 16px;
      }

      /* header related styles */
      header {
            padding: 16px;
      }

      nav ul {
            display: none;
      }

      .hide {
            display: block;
      }

      /* banner related styles */
      .banner-container {
            margin-bottom: 0px;
      }

      .banner-btn {
            margin-top: 16px;
      }

      .banner-form {
            margin: 0 25px;
      }

      /* our popular tours related styles */
      .popular-tours-container {
            flex-direction: column;
            margin-bottom: 20px;

      }

      .popular-tours-content {
            width: 100%;

      }

      .popular-tours-image {
            width: 100%;
            margin-top: 20px;
      }

      .popular-tours-image img {
            width: 100%;
      }

      /* Choose your destination */
      .destination-container {
            margin-bottom: 20px;
      }

      .destination-gallery {
            margin-top: 20px;
            grid-gap: 10px;
      }

      .gallery-image {
            height: 250px;
            margin-bottom: 0px;
      }

      .destination-para {
            width: 100%;
      }

      .srilanka {
            grid-column: 1/7;
      }

      .north-america {
            grid-column: 7/-1;
      }

      .kashmir {
            grid-column: 1/7;
      }

      .bangladesh {
            grid-column: 7/-1;
      }

      .bandarban {
            grid-column: 1/-1;
      }

      /* choose us section */
      .choose-us-box {
            width: 100%;
            text-align: center;
      }

      /* deals and discount */
      .deals-discount-cards {
            width: 70%;
      }

      /* Meet the team related styles */
      .team-container {
            margin-bottom: 40px;
      }

      .team-members {
            grid-gap: 20px;
            grid-template-columns: repeat(2, 1fr);
      }



      /* newsletter related styles */
      .newsletter-container {
            flex-direction: column;
            margin-bottom: 20px;
      }

      .newsletter-content {
            width: 100%;
            padding: 20px;
            margin-bottom: 20px;
      }

      .newsletter-image {
            width: 100%;
      }
}


/* For mobile device */
@media screen and (max-width: 576px) {

      main {
            padding: 16px;
      }

      /* header related styles */
      header {
            padding: 16px;
      }

      nav ul {
            display: none;
      }

      .hide {
            display: block;
      }

      /* banner related styles */
      .banner-container {
            height: auto;
            padding: 30px 0;
            margin-bottom: 0px;
      }

      .banner-title {
            font-size: 2rem;
      }

      .banner-form {
            margin: 0 25px;
      }

      .form-banner {
            display: flex;
            flex-direction: column;
            gap: 16px;
      }

      .banner-btn {
            width: 100%;
      }

      /* our popular tours related styles */
      .popular-tours-container {
            flex-direction: column;
            margin-bottom: 20px;
      }

      .popular-tours-content {
            width: 100%;

      }

      .popular-tours-image {
            width: 100%;
            margin-top: 20px;
      }

      .popular-tours-image img {
            width: 100%;
      }


      /* Choose your destination */
      .destination-gallery {
            margin-top: 20px;
            display: block;
      }

      .gallery-image {
            height: 200px;
            margin-bottom: 15px;
      }

      .destination-para {
            width: 100%;
      }


      /* choose us section */
      .choose-us-container {
            margin-bottom: 40px;
      }

      .choose-us-box {
            text-align: start;
      }


      /* deals and discount */
      .deals-discount-cards-container {
            padding: 200px 20px 20px 20px;
            border-radius: 16px;
            margin-bottom: 20px;
      }

      .deals-discount-cards {
            border-radius: 16px;
            border: 2px solid #FFF;
            background: rgba(255, 255, 255, 0.80);
            backdrop-filter: blur(2.5px);
            width: 100%;
            padding: 50px;
            margin-left: auto;
      }


      /* Meet the team related styles */
      .team-container {
            margin-bottom: 40px;
      }

      .team-members {
            grid-gap: 20px;
            grid-template-columns: 1fr;
      }

      .member-border {
            border-bottom: 1px solid rgba(19, 19, 24, 0.10);
            padding-bottom: 30px;
      }


      /* newsletter related styles */
      .newsletter-container {
            flex-direction: column;
            margin-bottom: 20px;
      }

      .newsletter-content {
            width: 100%;
            padding: 20px;
            margin-bottom: 20px;
      }

      .newsletter-image {
            width: 100%;
      }

      .news-discount {
            padding: 10px 20px;
            right: -27px;
            transform: rotate(-35deg) translateY(-60px);
      }

      .news-discount>p {
            font-size: 1rem;
      }

      .news-discount>h4 {
            font-size: 1rem;
      }

      /* Footer related styles */

      footer {
            padding: 40px 16px;
      }

      .footer-para {
            width: 100%;
      }

      .footer-icons {
            width: 100%;
      }
}